.prompt {
  float: right;
  width: 340px;
  border: 3px solid #F6F5EF;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 10px;

  .title {
    position: relative;
    color: #d32230;
  }

  @include respond-to(mobile) {
    width: 100%;
    float: none;

    .title {
      text-align: left;
    }

  };
}
.well {
  background-color: #F6F5EF;
  padding: 10px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;

}

.user-groups {
  li{
    width: 50%;
    float: left;
    margin: 10px 0;
  }

  @include respond-to(mobile) {
    li {
      width: 100%;
    }
  };
}


.lang-select {
  margin: 10px;
  text-align: center;
  font-size: 13px;
  opacity: 0.7;
  a {
    margin: 0 10px;
  }
}

.container {
  width: 800px;
  margin: 0 auto;
}

.welcome-header {
  text-align: center;
  padding: 50px 0 5px;
  background: #F5F4EE image-url('pattern.png');
}

.footer {
  background-color: $main-green;
  padding: 1em;
  color: #FDFCF6;
  margin-top: 4em;
  .text-center {
    font-size: 40px;
    margin: 0.5em;
  }
}
.hero-text {
  font-size: 36px;
  line-height: 2;
  font-weight: bold;
  margin: 0.8em 0;
}

.sponsers {
  img {
    margin: 1px 0 20px;
  }
  img:last-child {
    margin: 0 0 1px;
  }
}
.home-sponsers {
  text-align: center;
  background-color: rgba(#F5F4EE, 0.8);
  margin: 0;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(#666, 0.1);
          box-shadow: 0 1px 1px rgba(#666, 0.1);

  h4 {
    color: darken(#F6F5EF, 10%);
    margin: 5 0 15px;
  }
  .sponser-logos {
    margin: 5px;
    img {
      margin: 10px 5px;
    }
  }
  .sponser-more {
    margin: -3px 0 0;
    height: 0;

    a.btn {
      padding: 10px 20px;
      background-color: #F6F5EF;
      color: #999;
      border: none;

      &:hover {
        color: #000;
      }
    }
  }
}
