<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" ng-app="App">
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
      {% block meta_title_block %}
      {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}
      {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
    <!--<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">-->
    <!--<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">-->
    {% endifinstalled %}

    {% compress css %}
    <link rel="stylesheet" href="{% static "vendor/bootstrap-3.0.3/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/mezzanine/mezzanine.css" %}">
    <link rel="stylesheet" href="{% static "all.css" %}">
    {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static "vendor/bootstrap-3.0.3/js/bootstrap.js" %}"></script>
    <script src="{% static "vendor/angular-1.2.3/angular.min.js" %}"></script>
    <script src="{% static "vendor/angular-1.2.3/angular-animate.min.js" %}"></script>
    <script src="{% static "all.js" %}"></script>
    {% block extra_js %}{% endblock %}
    {% endcompress %}
    <!--[if lt IE 9]>
    <script src="{% static "vendor/mezzanine/html5shiv.js" %}"></script>
    <script src="{% static "vendor/mezzanine/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}" ng-controller="base">
<div id="nav" ng-class="{show: showNav}">
    <a href="#" class="btn btn-default btn-nav reversed"
      ng-click="showNav=!showNav"
    >MENU</a>
    <div class="inner">
        <div id="logo">
            <a href="{% url "home" %}"><img src="{% static "images/logo.png" %}" alt=""></a>
        </div>
        <p class="side-condate">
          MAY 17-18 2014 in Taipei
        </p>
        {% block left_panel %}
        {% page_menu "pages/menus/tree.html" %}
        <ul class="hide nav nav-list navlist-menu-level-1">
          <li id="tree-menu-blog">
            <a href="{% url "blog" %}">{% trans "Blog" %}</a>
          </li>
        </ul>
        {% endblock %}
        {% if request.user.is_authenticated %}
        <ul class="nav nav-list navlist-menu-level-1">
          <li id="proposal">
            <a href="{% url "proposal:list" %}">{% trans "My Proposals" %}</a>
          </li>
        </ul>
        <div class="text-center">
          <a class="btn btn-default btn-sm" href="{% url "logout" %}">{% trans "LOG OUT" %}</a>
        {% else %}
        <div class="text-center">
          <a class="btn btn-default btn-sm" href="{% url "login" %}">{% trans "SPEAKER LOG IN" %}</a>
        {% endif %}
        </div>

        <div class="lang-select hide">
            {% for lang_code, lang_name in LANGUAGES %}
                <a href="{% url 'set_language' %}?language={{ lang_code }}&amp;next={{ redirect_to }}">{{ lang_name }}</a>
            {% endfor %}

        </div>
    </div>
</div>



<div id="main">
    {% nevercache %}
    {% for message in messages %}
    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endnevercache %}

    {% block #title %}
    <div id="title">
        <h1>{% block title %}{% endblock %}</h1>
    </div>
    {% endblock %}

    {% block content %}

    <div class="col-left">
      <div class="inner">
        {% block main %}{% endblock %}
        <div class="slide"></div>

      </div>
    </div>
    {% block sider %}
      <div id="sider" class="col-right">
          <div class="sponsers hide">
              <img src="http://placehold.it/200x80" alt="">
          </div>
      </div>
    {% endblock %}


    {% endblock %}
        <div class="slideInPage ng-trans ng-trans-slide" ng-if="slidePageUrl">
          <div class="close-btn" ng-click=" closePage() ">&times</div>
          <div ng-include src="slidePageUrl"></div>
        </div>

</div>



{% include "includes/footer_scripts.html" %}

</body>
</html>
